.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(550px);
  height: 4rem;
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-default);
  background-color: var(--mantine-color-gray-1);
  position: relative;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-lg);
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  transition: all 300ms ease;
  color: var(--mantine-color-gray-7);
  border-radius: var(--mantine-radius-default);
  outline: none;
}

.inactive:hover {
  color: var(--mantine-color-black);
}

.active {
  background-color: var(--mantine-color-blue-filled);
  color: var(--mantine-color-white);
  box-shadow: var(--mantine-shadow-md);
  font-weight: 700;
}