.container {
  background-color: rgb(229 231 235);
}

.card {
  width: 30%;
}

.helper {
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
}

.anchor {
  text-decoration: none;
  margin-left: rem(4px);
  color: rgb(59 130 246);
}

.anchor:hover {
  color: rgb(29 78 216);
}